<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- interface에 연결되는 mapper.xml -->
<!-- namespace 속성은 필수 -> mapper interface의 풀네임 -->
<mapper namespace="com.hi.empspring.mapper.EmpMapper">

<!--    &lt;!&ndash; resultMap은 데이터 베이스 결과를 객체에 매핑하기 위해 사용 &ndash;&gt;-->
<!--    <resultMap id="empMap" type="com.hi.empspring.empspirng.domain.EmpDTO">-->

<!--        &lt;!&ndash; id : 객체의 기본 키에 해당하는 컬럼 매핑-->
<!--              column : 데이터베이스 컬럼 이름-->
<!--              property : 매핑할 객체의 속성(필드) 이름-->
<!--              result : 객체의 일반적인 속성에 해당하는 컬럼 매핑 &ndash;&gt;-->
<!--        <id column="empno" property="empno"/>-->
<!--        <result column="ename" property="ename"/>-->
<!--        <result column="job" property="job"/>-->
<!--        <result column="mgr" property="mgr"/>-->
<!--        <result column="hiredate" property="hiredate"/>-->
<!--        <result column="sal" property="sal"/>-->
<!--        <result column="comm" property="comm"/>-->
<!--        <result column="deptno" property="deptno"/>-->


<!--    </resultMap>&ndash;&gt;-->

    <!-- 전체 사원 리스트 -->
    <!-- resultType : 쿼리 실행 결과의 데이터 유형을 지정-->
    <!-- parameterType : 쿼리 실행 시 필요한 입력 매개변수의 데이터 유형을 지정-->

    <select id="selectAll" resultType="com.hi.empspring.domain.EmpDTO">

        select * from emp

    </select>

    <!-- 사원 리스트 추가 -->
    <insert id="insertEmp" parameterType="com.hi.empspring.domain.EmpRegistRequest">

        insert into emp (ename, job, mgr, hiredate, sal, comm, deptno)
        values (#{ename}, #{job}, #{mgr}, #{hiredate}, #{sal}, #{comm}, #{deptno})

    </insert>

    <!-- empno로 검색 -->
    <select id="selectByEmpno" resultType="com.hi.empspring.domain.EmpDTO">

        select * from emp where empno = #{no}

    </select>

    <!-- 사원 리스트 수정(update) -->
    <update id="updateEmp" parameterType="com.hi.empspring.domain.EmpDTO">

        update emp set ename = #{ename}, job = #{job}, mgr = #{mgr}, hiredate = #{hiredate}, sal = #{sal}, comm = #{comm}, deptno = #{deptno}
        where empno = #{empno}

    </update>

    <!-- 사원 리스트 삭제(Delete) -->
    <delete id="deleteEmp">

        delete from emp where empno = #{no}

    </delete>


</mapper>